.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.app-content {
  grid-row: 2;
  grid-column: 1 / 13;
  display: grid;
  grid-template-rows: auto;
}

.app-sidebar {
  padding: 10px 20px;
  position: fixed;
  width: 220px;
  background: white;
  top: 0;
  bottom: 0;
  border-right: 1px solid #EEE;
}

.app-content, .header {
  padding-left: 280px;
  width: calc(100% - 300px);
}

.header {
  grid-row: 1;
  grid-column: 1 / 13;
}

.app__img-credits {
  position: fixed;
  bottom: 5px;
  right: 10px;
  background: rgba(255, 255, 255, 0.4);
  padding: 0 4px ;
  text-decoration: none;
  font-size: 0.7rem;
  color: #212121;
}
