@import '../node_modules/normalize.scss/normalize';
@import './variables.scss';

html, body {
  color: #212121;
  font-family: $font-family-body;
  line-height: 1.4;
}

input, button {
  font-family: $font-family-body;
}

button {
  background: none;
  border: 2px solid #212121;
  color: #212121;
  padding: 8px 12px;
  transition: all 0.2s;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;

  &:hover {
    background: #212121;
    color: white;
  }
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  outline: none;
  box-shadow: none;
  transition: all 0.2s;
  width: 100%;

  &:focus {
    border-bottom: 2px solid #212121;
  }
}